.aboutUsContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 20rem;
}

.title {
  color: var(--secondary-color);
  font-weight: 600;
}

.listContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}

.individualEmployeeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.employeeImage {
  height: 10rem;
  width: 10rem;
}

.employeeText {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

@media (max-width: 85em) {
  .aboutUsContainer {
    margin: 2rem;
  }
  .listContainer {
    gap: 1rem;
  }
  .employeeImage {
    height: 10rem;
    width: 10rem;
  }
}
@media (max-width: 75em) {
  .aboutUsContainer {
    margin: 2rem;
  }
  .listContainer {
    gap: 1rem;
  }
  .employeeImage {
    height: 7.5rem;
    width: 7.5rem;
  }
}
@media (max-width: 55em) {
  .aboutUsContainer {
    margin: 2rem;
  }
  .listContainer {
    gap: 1rem;
  }
  .employeeImage {
    height: 5rem;
    width: 5rem;
  }
}
@media (max-width: 53em) {
  .aboutUsContainer {
    margin: 2rem;
  }
  .listContainer {
    gap: 0.5rem;
  }
  .employeeImage {
    height: 3rem;
    width: 3rem;
  }
}
@media (max-width: 48em) {
  .aboutUsContainer {
    margin: 2rem;
  }
  .listContainer {
    gap: 0.5rem;
    flex-direction: column;
  }
  .employeeImage {
    height: 10rem;
    width: 10rem;
  }
}
