.headerContainer {
  display: flex;
  flex-direction: column;
}
.headerBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2rem;
  background-color: var(--primary-color);
  height: 1rem;
  padding: 0.25rem;
}
.subHeaderBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 0.25rem;
}
.subHeaderBar:last-child {
  padding-right: 5rem;
}
.headerBarItems {
  color: #fff;
  font-size: 0.65rem;
  margin: 0;
  padding: 0;
}
.subHeaderBar:hover,
.subHeaderBar:active {
  transform: scale(1.05);
  cursor: pointer;
}

.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  background-color: #fff;
  height: 1rem;
  padding: 0.25rem;
  margin: 0.25rem 5rem;
}
.subHeaderMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subHeaderMenu > h5 {
  font-size: 0.5rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
.logo {
  height: 2rem;
  width: 2rem;
}
.title {
  font-weight: 600;
  margin: 0rem 1rem;
  color: var(--primary-color);
}
.headerMenuItems {
  font-weight: 500;
  margin: 0rem 1rem;
  margin-top: 0.5rem;
}
.headerMenuItems:hover,
.headerBarItems:active {
  color: var(--secondary-color);
  transform: scale(1.05);
  cursor: pointer;
}
@media (max-width: 60em) {
  .headerMenu {
    visibility: hidden;
  }
}
